<!DOCTYPE html>
<html>
<head>
  <title>Crowdfunder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'stylesheets/normalize', :media => 'screen' %>
  <%= stylesheet_link_tag 'stylesheets/skeleton', :media => 'screen' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <h1>My Awesome Crowdfunder App</h1>
</header>

<% flash.each do |key, msg| %>
  <p class="flash-<%= key %>"><%= msg %></p>
<% end %>

<%= yield %>

<footer>
  <small>Created by Maria Aranibar - 2015</small>
</footer>

</body>
</html>
